{% extends "./shared/_layout.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{%  block content %}
    <div class="container-wrapper">
        <div class="container">
            <form method="post" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{ current_user.name }}, your feedback is appreciated!</legend>
                    <div class="form-group">
                        <h5>Rate your overall experience</h5>
                        <div class="form-check form-check-inline">
                            {% for subfield in form.feedback_score %}
                                {{ subfield(class="form-check-input") }}
                                {{ subfield.label(class="form-check-label") }}
                                &nbsp;&nbsp;&nbsp;
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>What did you like best?</h5>
                        <div class="form-check form-check-inline">
                            {{ form.question1(class="form-check-input") }}
                            {{ form.question1.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form.question2(class="form-check-input") }}
                            {{ form.question2.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form.question3(class="form-check-input") }}
                            {{ form.question3.label(class="form-check-label") }}
                        </div>
                        <div class="form-check form-check-inline">
                            {{ form.question4(class="form-check-input") }}
                            {{ form.question4.label(class="form-check-label") }}
                        </div>
                    </div>
{##}
                    <h5>Any suggestions or feedback?</h5>
                    <div class="form-group">
                        {% if form.feedback.errors %}
                            {{ form.feedback(rows="6",cols="25", class="form-control is-invalid") }}
                            {% for error in form.feedback.errors %}
                                <div class="invalid-feedback">
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        {% else %}
                            {{ form.feedback(rows="6",cols="25", class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-dark btn-block") }}
                </div>
            </form>
        </div>
    </div>


{% endblock content %}